<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Contacto</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li><a class="u-email" href="igrinspan@dc.uba.ar">igrinspan@dc.uba.ar</a></li>
            <li><a class="u-email" href="iangrinspan7@gmail.com">iangrinspan7@gmail.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>Descripción del sitio en el footer.</p>
      </div>
    </div>

  </div>

</footer>
